version: "3.3"

services:
  db:
    image: mysql:5.7
    volumes:
      - ./docker/databases/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_USER=root
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=directus
      - MYSQL_USER=default
      - MYSQL_PASSWORD=default
    ports:
      - "3306:3306"
    command: [
        'mysqld',
        '--character-set-server=utf8mb4',
        '--collation-server=utf8mb4_unicode_ci',
    ]


  directus:
    image: directus/directus:v9.0.0-rc.50
    ports:
      - 80:8055
    depends_on:
      - db
    environment:
      - KEY=255d861b-5ea1-5996-9aa3-922530ec40b1
      - SECRET=6116487b-cda1-52c2-b5b5-c8022c45e263
      - DB_CLIENT=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=directus
      - DB_USER=root
      - DB_PASSWORD=root
      - CACHE_ENABLED=false
      - ADMIN_EMAIL=admin@admin.com
      - ADMIN_PASSWORD=admin
